.auth-pages {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: url("https://picsum.photos/2000/1000")
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
    border: 1px solid #666666;
    padding: 0.5rem;
    background-color: white;
}

.login-form button {
    background-color: red;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 0.5rem 1rem;
    margin-top: 20px;
}

.login-form input {
    padding: 0.5rem 1rem;
}

@media (max-width: 768px) {
    .login-form{
        width: 80vw
    }
}