.App {
  height: 100vh;
  display: grid;
  overflow: hidden;
}

@media (max-width: 768px) {
  .visible-small {
    display: block;
  }
  .visible-large {
    display: none;
  }
}

@media (min-width: 768px) {
  .App {
    grid-template-columns: 0.5fr 1.5fr;
    /* gap: 20px; */
  }
  .visible-small {
    display: none;
  }
}

@media (min-width: 1024px) {
  .App {
    grid-template-columns: 0.65fr 1.7fr 0.65fr;
    /* gap: 20px; */
  }
  .visible-small {
    display: none;
  }
}